body {
    padding: 0px;
    margin: 0px;
    background-color: #262421;
}

* {
    box-sizing: border-box
}
#chess-board-outer {
    width: fit-content;
    background-color: #312e2b;
    padding: .5rem;
    border-radius: .5rem;
}
#chess-board {
    border-radius: .5rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(8,minmax(min-content, max-content));
}

.tile-height-width {
    height: 5rem;
    width: 5rem;
}

img {
    width: 100%;
}

.first-tile {
    background-color: #769656;
}

.second-tile {
    background-color: #eeeed2;
}