.player {
    color: white;
    font-weight: bold;
}

.image-container {
    width: 4rem;
}

.player-name {
    font-size: 1.2rem;
}

.left-side {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.right-side {
    background-color: white;
    border-radius: .2rem;
    padding: .2rem .4rem .2rem 3rem;
}

.clock-container {
    color: #262421;
}

.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#black-player {
    margin-bottom: .5rem;
}

#white-player {
    margin-top: .5rem;
}
.capture-image-container {
    display: flex;
    align-items: center;
}
.capture-piece-item {
    height: 1.5rem;
    display: flex;
    align-items: center;
}
.capture-image-item {
    height: 100%;
    width: fit-content;
}
.capture-image-count {
    color: white;
    font-size: 1rem;
}

#white-pawn, #white-bishop, #white-knight, #white-rook, #white-queen {
    display: none;
}

#black-pawn, #black-bishop, #black-knight, #black-rook, #black-queen {
    display: none;
}